body{
    background-color: rgb(159, 173, 201);
    background-image: url('images\white-gold-background-vector-1013338.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    }

  .nav{
    color:rgb(255, 94, 0);
    border-style: solid;
    text-align: justify;
  }
  .wrapper {
    background-color: rgba(255,255,255,0.8);
    max-width: 1280px;
    margin: 0 auto;
    padding:25px;
    box-sizing: border-box;
    box-shadow: 0 3px 5px rgba(0,0,0,0.7 )
  
  }
h1{
    text-align: center;
    font-family: "fantasy";
    font-size: 50px;
    text-decoration: underline;
    text-decoration-color: #fade41;
    color:hsla(46, 87%, 64%, 0.9);
}
h2{
    text-align-last: center;
    text-decoration:underline;
    text-decoration-color: gold;
    
}

h3{
    text-align:center;
    font-size: 25px;
    text-decoration: underline;
    text-decoration-color: h

}
h3::first-letter{
    font-size: 200%;
    color:groove rgb(212,175,55);
    font-weight: bold;
    text-decoration: none;
    font-family: 'galada';
    
}
.a {
  text-align:center
}
.b {
  text-align: left;
}

.c {
  text-align: right;
} 

.d {
  text-align: justify;
} 
.centerImage{
  width: 100%;
}
.centerImage2{
  width: 60%
}
a{
  padding:1rem, 1.5em;
  text-decoration: none;
  font-size:24px ;
  display: inline-block;
  color:rgb(255, 72, 0);
}

a:hover{
  text-decoration: underline;
  cursor: pointer;
  color:purple;
}