body{
    background-color: rgb(159, 173, 201);
    background-image: url('../images/white-gold-background-vector-1013338.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    }
  #logo{
   text-align: center;
   color:black;
    right:15px;
    top:0px;
    Background-color:rgb(255, 223, 113);
    font-size:24px;
    font-family: fantasy;
    width:90px;
    height:15%;
    position: fixed;
    padding-bottom: 10px;
    border-style: solid;
    border-color: rgba(2, 2, 2, 0.8);
    box-shadow: 0 15px 15px rgba(2, 2, 2, 0.7)
  }
  .nav{
    background-color:rgb(56, 53, 53);
    box-shadow: 0 10px 10px rgba(2, 2, 2, 0.7);
    color:white;
    width: 100%;
    position:fixed;
    left:0px;
    top: 0px;
    font-size:19px;
    padding-bottom:5px;
    
  }
  .nav :hover{
    background-color:gold;
    color:black;
  
  }
  .navbutton {
    background-color: rgb(41, 37, 37);
    box-shadow: 0 3px 3px rgba(2, 2, 2, 0.6);
    color: white;
    padding: 16px;
    font-size: 19px;
    border:none;
  }
  .navbutton:hover{
    border-color: black;
  }

  
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: fixed;
    background-color: black;
    z-index: 1;
    box-shadow: 0 3px 3px rgba(2, 2, 2, 0.6);
    
  }
  .dropdown-content:hover{
    display:contents;
    

    
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    background-color: rgb(41, 37, 37);;
    font-size: 16px;
  }
  /* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color:gold;
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
  .wrapper {
    background-color: rgba(255,255,255,0.7);
    width: 125vh;
    margin: 0 auto;
    padding:25px;
    box-sizing: border-box;
    box-shadow: 0 15px 15px rgba(2, 2, 2, 0.7)
  }
  p{ font-size: 25px;

  }
  li{
    font-size:25px;
  }
  h1{
    text-align: center;
    font-family: "fantasy";
    font-size: 50px;
    text-decoration: underline;
    text-decoration-color: black;
    color: black;
  }
  h2{
    text-align-last: center;
    text-decoration:underline;
    text-decoration-color: black;
    
  }
  
  h3{
    text-align:center;
    font-size: 25px;
    text-decoration: underline;
    text-decoration-color: h
  
  }
  h3::first-letter{
    font-size: 200%;
    color:groove rgb(212,175,55);
    font-weight: bold;
    text-decoration: none;
    font-family: 'galada';
    
  }
  .a {
  text-align:center
  }
  .b {
  text-align: left;
  }
  
  .c {
  text-align: right;
  } 
  
  .d {
  text-align: justify;
  } 
  ul.a{
    list-style-type: square;
  }
  .centerImage{
  width: 100%;
  }
  .centerImage2{
  width: 60%
  
  
  }

  



















    a{
    padding:2rem, 1.5em;
    text-decoration: none;
    font-size:24px ;
    display: inline-block;
    color:rgb(247, 241, 239);
    }
    a:hover{
    cursor: pointer;
    color:gold;
    }
    @media only screen and (max-width: 300px) {
      .prev, .next,.text {font-size: 11px}
    }


